{# templates/components/section.twig #}
<section class="presentationComponant">
	<h2>{{ title }}</h2>
	<figure>
		<img src="{{ asset(image) }}" alt="Plat chaud servi dans une assiette">
		<figcaption>
			{{ highlight }}
		</figcaption>
	</figure>


	<a href="{{ link == '#' ? '#': path(link) }}" class="btn">{{ textlink }}</a>

</section>
