{# templates/components/section.twig #}
<section class="presentationComponant">
	<h2>{{ title }}</h2>
	<figure>
		<img src="{{ asset(image) }}" alt="Plat chaud servi dans une assiette">
		<figcaption>
			{{ highlight }}
		</figcaption>
	</figure>
	{% if textbtn == 'Réservez ici.' %}


		<a href="{{ path('app_reservation') }}" class="btn">{{ textbtn }}</a>
	{% else %}
		<button>{{ textbtn }}</button>
	{% endif %}
</section>
