{% extends 'base.html.twig' %}

{% block title %}Nos plat
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/dish/index.css')}}">
{% endblock %}
{% block body %}
	<h1>Liste de Nos plats :</h1>

	{# partials goes here #}
	{% include '_partials/flashes.html.twig' %}


	{# Category filter #}
	<div class="filter-container">
		<a href="{{ path('dish_home') }}" class="filter-link">Tous</a>
		{% for category in categories %}
			<a href="{{ path('dish_home', {'category': category.id}) }}" class="filter-link">
				{{ category.title }}
			</a>
		{% endfor %}
	</div>


	<div class="dishes-list">

		{% for dish in dishes %}
			<div class="dish-item">
				{% if dish.imageName %}
					<img src="{{ asset('uploads/dishes/' ~ dish.imageName) }}" alt="{{ dish.nom }}" class="dish-image">
				{% else %}
					<img src="{{ asset('images/dish.jpg') }}" alt="Default Dish Image" class="dish-image">
				{% endif %}

				<br>
				<p class="dish-name">
					{{ dish.nom }}</p>
				<p>

					{{ dish.description }}</p>
				<p>

					{{ dish.prix }}
					€</p>
				<p>

					{{ dish.category.title }}</p>
				<br>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('dish_edit', {'id': dish.id}) }}">
						modifier / supprimer</a>

					<br>
				{% endif %}

				<br>
				<hr>
			</div>
		{% else %}
			<p>
				non disponible pour le moment.</p>
		{% endfor %}
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('dish_add') }}">Ajouter un plat</a>
		{% endif %}
	</div>
{% endblock %}
